.header {
  padding: 10px 200px;
  background-color: #189eff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    a {
      color: #ffffff;
      font-size: 50px;
      font-weight: 400;
      margin: 0;
      text-decoration: none;
    }
  }
  &__function {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__cart {
      position: relative;
      #cart-text {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -20%;
        left: 80%;
        border-radius: 50%;
        background-color: red;
        width: 20px;
        height: 20px;
        color: #ffffff;
        display: none;
      }
      #cart-content {
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: #ffffff;
        padding: 10px;
        z-index: 30;
        box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
        min-width: 450px;
        display: none;
        #pay{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
        }
        #money {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            &:first-child {
              font-size: 25px;
              text-transform: uppercase;
            }
            &:nth-child(2) {
              color: #bf081f;
              font-size: 28px;
              font-weight: 700;
            }
          }
        }
        .item {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 10px;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          img {
            width: 80px;
          }
          span {
            &:nth-child(2) {
              margin: 0 15px;
              font-size: 20px;
              min-width: 200px;
              overflow: hidden;
            }
            &:nth-child(4) {
              color: #bf081f;
              font-weight: 700;
              font-size: 20px;
              margin: 0 20px;
            }
          }
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            font-size: 20px;
            background-color: red;
            border-radius: 50%;
            color: #ffffff;
          }
        }
      }
    }
    #cart,
    #bell {
      padding: 10px;
      border-radius: 50%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5) !important;
      }
      &.active {
        background-color: rgba(0, 0, 0, 0.5) !important;
      }
    }
    &__search {
      display: flex;
      align-items: center;
      border: 1px solid #ffffff;
      padding: 5px 7px;
      position: relative;
      #search-content {
        position: absolute;
        background-color: #ffffff;
        min-width: 400px;
        box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
        z-index: 100;
        top: 100%;
        left: -1px;
        overflow: hidden;
        > div {
          display: flex;
          border-bottom: 1px solid;
          cursor: pointer;
          padding: 10px 0;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          img {
            width: 70px;
          }
          p {
            padding: 20px;
            margin: 0;
            flex-grow: 1;
          }
        }
      }
      input {
        margin: 0 10px;
        background-color: #189eff;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 20px;
        &::placeholder {
          color: #ffffff;
        }
      }
    }
    &__acc {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
      span {
        font-size: 20px;
        color: #ffffff;
      }
      i {
        color: #ffffff;
        margin-left: 5px;
      }
    }
  }
  i {
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
  }
  #bar {
    display: none;
    font-size: 40px;
    color: #ffffff;
  }
  .overplay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .phone {
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 50px;
    transition: all 1s;
    transform: translateX(100%);
    z-index: 1000;
    i {
      color: #000000;
      text-align: center;
      margin: 20px 0;
    }
    .bell,
    .search,
    .cart {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__acc {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}

//responesive
@media (max-width: 1300px) {
  .header {
    padding: 30px;
    #cart-content {
      transform: translateX(-200px);
    }
  }
}
@media (max-width: 950px) {
  .header {
    &__function {
      display: none;
    }
    #bar {
      display: block !important;
    }
  }
}
