@import "../scss/header";
* {
  font-family: "Roboto", sans-serif;
}
h1 {
    margin-top: 30px;
  margin-bottom: 70px;
  font-size: 60px;
  font-weight: 500;
}
h5 {
  margin-left: 200px;
  font-size: 50px;
}
.detail {
  padding: 10px 200px;
  display: flex;
  img {
    width: 500px;
  }
  p {
    &:first-child {
      font-size: 25px;
    }

    &:nth-child(2) {
      font-size: 25px;
      span {
        font-size: 25px;
        font-weight: 700;
        color: #bf081f;
      }
    }
    &:nth-child(4){
        span{
            font-weight: 700;
        }
    }
  }
}
