* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "../scss/header";
.listProduct {
  h1 {
    &:first-child {
      font-size: 40px;
      font-weight: 400;
    }
  }
  &__content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    &.row {
      margin: 0 auto;
      .item-wrapper {
        overflow: hidden;
        margin: 10px 0;
        cursor: pointer;
        img {
          width: 100%;
          height: 320px;
          padding: 10%;
          padding-bottom: 20px;
        }
        h2 {
          margin-left: 37px;
          color: rgb(36, 36, 36);
          font-size: 20px;
        }
        p {
          margin: 10px 0;
          color: lightgray;
          margin-left: 37px;
        }
        span {
          margin-left: 37px;
          font-weight: 700;
          color: #bf081f;
        }
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
          img {
            transform: translateY(-7px);
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

//responsive

@media (max-width:992px){
  #list-product{
    img{
      height: 220px;
    }
    h2 {
      margin-left: 30px;
      color: rgb(36, 36, 36);
      font-size: 18px;
    }
    p {
      margin: 10px 0;
      color: lightgray;
      margin-left: 30px;
    }
    span {
      margin-left: 30px;
      font-weight: 700;
      color: #bf081f;
      
    }
  }
}

@media (max-width:768px){
  #list-product{
    img{
      height: 270px;
    }
  }
}