.logIn {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/pngtree-business-technology-digital-high-tech-world-background-backgroundtechnology-backgroundhigh-tech-backgroundworld-image_79012.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  form {
    width: 400px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 3px;
    opacity: 0.8;
    padding: 20px;
    transform: translateY(100px);
    transition: all 1s;
    h3 {
      font-size: 50px;
      font-weight: 400;
      text-align: center;
      transform: translateY(-200px) rotate(90deg) scale(2,2);
      transition: all 1s;
    }
    p {
      width: 100%;
      text-align: center;
      transform: translateY(-20px);
      margin: 0;
      color: red;
    }
    .logIn__name,
    .logIn__pass {
      width: 75%;
      margin: 30px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: 1px solid #000000;
      padding: 10px;
      border-radius: 3px;
      transition: all 1s;
      input {
        max-width: 80%;
        flex-grow: 1;
        font-size: 20px;
        border: none;
        background-color: transparent;
        outline: none;
      }
      i {
        font-size: 20px;
        margin-right: 10px;
      }
    }
    .logIn__name {
      transform: translateX(-300px);
    }
    .logIn__pass {
      transform: translateX(300px);
    }
    .logIn__button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      transition: all 1s;
      transform: translateY(100px);
      button {
        padding: 7px 20px;
        font-size: 20px;
        background-image: url(../img/button.PNG);
        color: #ffffff;
        outline: none;
        border: none;
        border-radius: 3px;
        transition: all 0.5s;
        &:hover {
          color: #fee681;
          transform: scale(1.3,1.3);
        }
      }
    }
  }
}

//responsive
@media (max-width: 500px) {
  .logIn {
    form {
      background-color: transparent;
      padding: 100px 20px;
      width: 100%;
      height: 100%;
      border-radius: 0;
      .logIn__name,
      .logIn__pass {
        width: 90%;
        margin: 20px auto;
        i {
          margin-right: 10px;
        }
      }
    }
  }
}
