.header {
  padding: 10px 200px;
  background-color: #189eff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo a {
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}

.header__function {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__function__cart {
  position: relative;
}

.header__function__cart #cart-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -20%;
  left: 80%;
  border-radius: 50%;
  background-color: red;
  width: 20px;
  height: 20px;
  color: #ffffff;
  display: none;
}

.header__function__cart #cart-content {
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: #ffffff;
  padding: 10px;
  z-index: 30;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  min-width: 450px;
  display: none;
}

.header__function__cart #cart-content #pay {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.header__function__cart #cart-content #money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__function__cart #cart-content #money span:first-child {
  font-size: 25px;
  text-transform: uppercase;
}

.header__function__cart #cart-content #money span:nth-child(2) {
  color: #bf081f;
  font-size: 28px;
  font-weight: 700;
}

.header__function__cart #cart-content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  cursor: pointer;
}

.header__function__cart #cart-content .item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header__function__cart #cart-content .item img {
  width: 80px;
}

.header__function__cart #cart-content .item span:nth-child(2) {
  margin: 0 15px;
  font-size: 20px;
  min-width: 200px;
  overflow: hidden;
}

.header__function__cart #cart-content .item span:nth-child(4) {
  color: #bf081f;
  font-weight: 700;
  font-size: 20px;
  margin: 0 20px;
}

.header__function__cart #cart-content .item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: red;
  border-radius: 50%;
  color: #ffffff;
}

.header__function #cart,
.header__function #bell {
  padding: 10px;
  border-radius: 50%;
}

.header__function #cart:hover,
.header__function #bell:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.header__function #cart.active,
.header__function #bell.active {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.header__function__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  padding: 5px 7px;
  position: relative;
}

.header__function__search #search-content {
  position: absolute;
  background-color: #ffffff;
  min-width: 400px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
          box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
  z-index: 100;
  top: 100%;
  left: -1px;
  overflow: hidden;
}

.header__function__search #search-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid;
  cursor: pointer;
  padding: 10px 0;
}

.header__function__search #search-content > div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header__function__search #search-content > div img {
  width: 70px;
}

.header__function__search #search-content > div p {
  padding: 20px;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__function__search input {
  margin: 0 10px;
  background-color: #189eff;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 20px;
}

.header__function__search input::-webkit-input-placeholder {
  color: #ffffff;
}

.header__function__search input:-ms-input-placeholder {
  color: #ffffff;
}

.header__function__search input::-ms-input-placeholder {
  color: #ffffff;
}

.header__function__search input::placeholder {
  color: #ffffff;
}

.header__function__acc {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__function__acc img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.header__function__acc span {
  font-size: 20px;
  color: #ffffff;
}

.header__function__acc i {
  color: #ffffff;
  margin-left: 5px;
}

.header i {
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
}

.header #bar {
  display: none;
  font-size: 40px;
  color: #ffffff;
}

.header .overplay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.header .phone {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  padding: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 1000;
}

.header .phone i {
  color: #000000;
  text-align: center;
  margin: 20px 0;
}

.header .phone .bell,
.header .phone .search,
.header .phone .cart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .phone__acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .phone__acc img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (max-width: 1300px) {
  .header {
    padding: 30px;
  }
  .header #cart-content {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

@media (max-width: 950px) {
  .header__function {
    display: none;
  }
  .header #bar {
    display: block !important;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-top: 30px;
  margin-bottom: 70px;
  font-size: 60px;
  font-weight: 500;
}

h5 {
  margin-left: 200px;
  font-size: 50px;
}

.detail {
  padding: 10px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail img {
  width: 500px;
}

.detail p:first-child {
  font-size: 25px;
}

.detail p:nth-child(2) {
  font-size: 25px;
}

.detail p:nth-child(2) span {
  font-size: 25px;
  font-weight: 700;
  color: #bf081f;
}

.detail p:nth-child(4) span {
  font-weight: 700;
}
/*# sourceMappingURL=detail.css.map */